
.header-label-end{
    display: flex;
    justify-content: flex-end;
    /* height: 1.5em; */
}
.header-label-start{
        display: flex;
    
  }

  .sideBySide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .header-title{
    display: flex;
    justify-content: center;
    align-items: center ;
    /* height: 1.5em; */

  }

  .header-color{
    background:black !important;
    height: 3.5em;
    
  }
  
    .flex >div{
        flex : 1 0 50%
    }

  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  